p,span,html,body,h1,h2,h3,h4,h5,h6,a,input,form,textarea,table,td,tr,br,hr,ul,li,ol,li,dl,dt,dd,img,q,em,strong,i,b,u,article,footer,header,nav,aside,section,select{
	margin: 0;padding: 0;
}
body,html{
	width: 100%;height: 100%;
}
div{overflow: hidden;zoom: 1;}
/*div:after,.clearfix:after{display: block;content: '.';overflow:hidden;font-size:0px;clear: both;line-height: 0;visibility: hidden;}*/
.clearfix:after{display: block;content: '.';overflow:hidden;font-size:0px;clear: both;line-height: 0;visibility: hidden;}
body {width: 100%;margin: 0;padding: 0;font-family: Microsoft YaHei,tahoma,arial,Hiragino Sans GB,\\5b8b\4f53,sans-serif;}
ol li,ul li{list-style: none;}
table {border-collapse: collapse;border-spacing: 0;}
a,a:link, a:visited{text-decoration: none;}
img{vertical-align: middle;}
a:hover{cursor: pointer;}
input,img{border: 0;}
input{outline: none;}
input,button{
	border: 0;
	outline: 0;
}
button:hover{
	cursor: pointer;
}
