<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>LPL赛事-英雄联盟周边商城</title>
		<link href="css/reset.css" rel="stylesheet" type="text/css"/>
		<link href="css/index1.css" rel="stylesheet" type="text/css" />
		<!--<link rel="stylesheet" href="bootstrap-4.3.1-dist/css/bootstrap.min.css" />-->
	<body>
		<div class="wrap">
			<!--<div class=""><img src="https://apd-vlive.apdcdn.tc.qq.com/vcloud1022.tc.qq.com/1022_7a072344a9904df8a181debf29b19c42.f0.mp4?vkey=FD2B8B820D11A169F1292A46410CEE48670267531747CED11FEA3937C99046410F75A218701F7DEF1920E401D7E5585B7362ABDED69B7B03C6F117AE4C601EC0CAC76413BE8420A8F8AABA2045EE5017F315DDDF027C7518&sha=0"/></div>-->
			<div class="wrap-inner">			
				    <div class="top-1">	
				    	<div class="inner">
						<div class="logo"></div>
						</div>
				    </div>
					<div class="top-2"></div>
					<div class="top-3"></div>
					<div class="top-4">
						<div class="nav">
							<div class="nav-left" id="nav-left"></div>
							<div class="nav-right" id="nav-right"></div>
							<div class="nav-game"><a href="https://lpl.qq.com/es/worlds/2019/index.html"></a></div>
						</div>
					</div>
					
				   <div class="box">
				   	<ol>
				   		<li id="boxl">
				   			<div class="bg1-1">
					  <div class="part1">
						<div class="yg1">
							<div class="yg1-wp">
								<div class="yg1-list">
									<ul id="uls">
										<li class="lis"><img src="images/ygl-img1.png" /></li>
										<li><img src="images/ygl-img2.png" /></li>
										<li><img src="images/ygl-img3.png" /></li>
										<li><img src="images/ygl-img4.png" /></li>
									</ul>
								</div>
								
								
							</div>
							<div class="yg-e">
							<p class="e1">2019全球总决赛专属</p>
								<p class="e2">传承系列精品策略</p>
								<p class="e3">购买远古巨龙手办</br>即送远古巨龙头像</p>
								</div>
						</div>
					  </div>
					</div>
					<div class="bg1-2">
						<div class="part2">
							<ul>
								<li>
									<img src="images/xn-img1.png"/>
									<span>2019全球总决赛限定版</br>提伯斯熊毛绒玩偶</span>
									<p></p>
									<a href="https://lolriotmall.qq.com/detail.shtml?id=10574"></a>
								</li>
								<li>
									<img src="images/xn-img2.png"/>
									<span>2019全球总决赛</br>连帽衫	</span>
									<p></p>
									<a href="https://lolriotmall.qq.com/detail.shtml?id=10574"></a>
								</li>
								<li>
									<img src="images/xn-img3.png"/>
									<span>2019全球总决赛</br>长袖T恤</span>
									<p></p>
									<a href="https://lolriotmall.qq.com/detail.shtml?id=10574"></a>
								</li>
								<li>
									<img src="images/xn-img4.png"/>
									<span>2019全球总决赛</br>长裤</span>
									<p></p>
									<a href="https://lolriotmall.qq.com/detail.shtml?id=10574"></a>
								</li>
							</ul>
						</div>
					</div>
					<div class="bg1-3">
						<div class="part3">
							<ul>
								<li>
									<img src="images/zs-img1.png" />
									<span>LPL钛钢项链</span>
									<p></p>
									<a href="https://lolriotmall.qq.com/detail.shtml?id=10578"></a>
								</li>
								<li>
									<img src="images/zs-img2.png" />
									<span>LPL沙滩巾</span>
									<p></p>
									<a href="https://lolriotmall.qq.com/detail.shtml?id=10579"></a>
								</li>
								<li>
									<img src="images/zs-img3.png" />
									<span>LPL战队冰箱贴</span>
									<p></p>
									<a href="https://lolriotmall.qq.com/detail.shtml?id=10613"></a>
								</li>
							</ul>
						</div>
					</div>
					<div class="bg1-4">
						<div class="rule">
							
							<p>1、活动时间：自2019年10月8日0点至11月17日24点止。</p>
							<p>2、头像领取说明：</p>
							<p>（1）订单支付成功后，请于商城个人中心完善个人信息（QQ号+游戏大区）；</p>
							<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;商城完善信息电脑端：<a href="https://lolriotmall.qq.com/user/userinfo.shtml">https://lolriotmall.qq.com/user/userinfo.shtml</a></p>
							<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;商城完善信息移动端：<a href="https://lolriotmall-wx.qq.com/user/userinfo.shtml">https://lolriotmall-wx.qq.com/user/userinfo.shtml</a></p>
							<p>（2）请玩家完善信息后，并在确认收货七个工作日后前往官网领取中心领取相关赠品，有效期：自发放</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;起3个月内；</p>
							<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;领取网址：<a href="https://lol.qq.com/act/a20180929awards/index.html">https://lol.qq.com/act/a20180929awards/index.html</a></p>
							<p>3、温馨提醒：</p>
							<p>（1）为确保能够成功领取，请在领取前登录英雄联盟游戏访问游戏商城进行激活，并在有效期截止前领</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;取道具，逾期作废；</p>
							<p>（2）小程序用户请使用浏览器打开领取中心进行领取；</p>
							<p>（3）鉴于远古巨龙手办涉及虚拟道具发放，该商品不支持七天无理由退货服务，如收到的产品有质量</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;问题，我们将为</p>
							<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;您提供换货服务，感谢您的理解。若有任何特殊情况，请联系周边商城客服说明情况，我们将努力为</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;您解决。</p>
							
						</div>
					</div>
					    <div class="footer">
						<div class="footer-nav">
							<ul>
								<li><a href="https://ieg.tencent.com/">腾讯互动娱乐</a></li>
								<li><a href="https://game.qq.com/contract.shtml">服务条款</a></li>
								<li><a href="https://game.qq.com/privacy_guide.shtml">腾讯游戏隐私保护指引</a></li>
								<li><a href="https://game.qq.com/hr/">腾讯游戏招聘</a></li>
								<li><a href="https://kf.qq.com/">腾讯游戏客服</a></li>
								<li><a href="http://game.qq.com/gnav/">游戏地图</a></li>
								<li><a href="https://jiazhang.qq.com/jz/home.html?ADTAG=gamepcbottom">成长守护平台</a></li>
								<li><a href="https://game.qq.com/brand/bd/">商务合作</a></li>
								<li class="lis"><a href="https://www.qq.com/map/">网站导航</a></li>
							</ul>
							<p>COPYRIGHT © 1998 – 2019 TENCENT. ALL RIGHTS RESERVED.</p>
							<p><a href="http://www.tencent.com/zh-cn/statement.html?/law/copyright.htm">腾讯公司 版权所有</a></p>
						</div>
					</div>	
				   		</li>
				   		<li id="boxf">
				   			<div class="cont2">
				   				<div class="bg2-1">
				   					<div class="part1">
				   						<ul class="goods-img">
				   							<li>
				   								<a href="#"><img src="images/goods-img1.png"/></a>
				   								<p>2019全球总决赛</p>
				   								<p>短袖T恤</p>
				   							</li>
				   							<li>
				   								<a href="#"><img src="images/goods-img2.png"/></a>
				   								<p>2019全球总决赛</p>
				   								<p>毛领外套</p>
				   							</li>
				   							<li>
				   								<a href="#"><img src="images/goods-img3.png"/></a>
				   								<p>2019全球总决赛</p>
				   								<p>运动上衣</p>
				   							</li>
				   							<li>
				   								<a href="#"><img src="images/goods-img4.png"/></a>
				   								<p>2019全球总决赛</p>
				   								<p>围巾</p>
				   							</li>
				   							<li>
				   								<a href="#"><img src="images/goods-img5.png"/></a>
				   								<p>2019全球总决赛</p>
				   								<p>绒球帽</p>
				   							</li>
				   							<li>
				   								<a href="#"><img src="images/goods-img6.png"/></a>
				   								<p>2019全球总决赛</p>
				   								<p>徽章</p>
				   							</li>
				   						</ul>
				   					</div>
				   				</div>
				   				<div class="bg2-2">
				   					<div class="part2">
				   						<div class="own-left">
				   							<img src="images/own-bz1.png" />
				   						</div>
				   						<div class="own-img1">
				   						<a href=""><img src="images/own-img1.png"/></a>
				   						</div>
				   						<div class="own-right">
				   							<p>2019全球总决赛短袖T恤</p>
				   							<b></b>
				   							<a href=""></a>
				   						</div>
				   					</div>
				   				</div>
				   				<div class="bg2-3">
				   					<div class="part3">
				   						<div class="own-right2">
				   							<p>2019全球总决赛寒意外套</p>
				   							<b></b>
				   							<a href=""></a>
				   						</div>
				   						
				   						<div class="own-img2">
				   							<a href=""><img src="images/own-img2.png"/></a>
				   						</div>
				   						<div class="own-left2">
				   							<img src="images/own-bz2.png" />
				   						</div>
				   					</div>
				   				</div>
				   				<div class="bg2-4">
				   					<div class="part4">
				   						<div class="own-left3">
				   							<img src="images/own-bz3.png" />
				   						</div>
				   						<div class="own-img3">
				   						<a href=""><img src="images/own-img3.png"/></a>
				   						</div>
				   						<div class="own-right3">
				   							<p>2019全球总决赛短袖T恤</p>
				   							<b></b>
				   							<a href=""></a>
				   						</div>
				   					</div>
				   				</div>
				   				<div class="bg2-5">
				   					<div class="part5">
				   						<div class="own-right4">
				   							<p>2019全球总决赛寒意外套</p>
				   							<b></b>
				   							<a href=""></a>
				   						</div>
				   						
				   						<div class="own-img4">
				   							<a href=""><img src="images/own-img4.png"/></a>
				   						</div>
				   						<div class="own-left4">
				   							<img src="images/own-bz4.png" />
				   						</div>
				   					</div>
				   				</div>
				   				<div class="bg2-6">
				   					<div class="part6">
				   						<div class="own-right5">
				   							<p>2019全球总决赛寒意外套</p>
				   							<b></b>
				   							<a href=""></a>
				   						</div>
				   						
				   						<div class="own-img5">
				   							<a href=""><img src="images/own-img5.png"/></a>
				   						</div>
				   						<div class="own-left5">
				   							<img src="images/own-bz5.png" />
				   						</div>
				   					</div>
				   				</div>
				   				<div class="bg2-7">
				   					<div class="part7">
				   						<div class="own-left6">
				   							<img src="images/own-bz6.png" />
				   						</div>
				   						<div class="own-img6">
				   						<a href=""><img src="images/own-img6.png"/></a>
				   						</div>
				   						<div class="own-right6">
				   							<p>2019全球总决赛围巾</p>
				   							<b></b>
				   							<a href=""></a>
				   						</div>
				   					</div>
				   				</div>
				   				<div class="bg2-8"></div>
				   			</div>
				   			<div class="footer">
						<div class="footer-nav">
							<ul>
								<li><a href="https://ieg.tencent.com/">腾讯互动娱乐</a></li>
								<li><a href="https://game.qq.com/contract.shtml">服务条款</a></li>
								<li><a href="https://game.qq.com/privacy_guide.shtml">腾讯游戏隐私保护指引</a></li>
								<li><a href="https://game.qq.com/hr/">腾讯游戏招聘</a></li>
								<li><a href="https://kf.qq.com/">腾讯游戏客服</a></li>
								<li><a href="http://game.qq.com/gnav/">游戏地图</a></li>
								<li><a href="https://jiazhang.qq.com/jz/home.html?ADTAG=gamepcbottom">成长守护平台</a></li>
								<li><a href="https://game.qq.com/brand/bd/">商务合作</a></li>
								<li class="lis"><a href="https://www.qq.com/map/">网站导航</a></li>
							</ul>
							<p>COPYRIGHT © 1998 – 2019 TENCENT. ALL RIGHTS RESERVED.</p>
							<p><a href="http://www.tencent.com/zh-cn/statement.html?/law/copyright.htm">腾讯公司 版权所有</a></p>
						</div>
					</div>
				   		</li>
				   		
				   	</ol>
					
				</div>
				
			</div>
		</div>
	</body>
<!--	<script type="text/javascript" src="jquery/jquery.js"></script>-->
	<script src="js/index1.js"></script>
</html>
